
        <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">dee</h5>
        <h6 class="card-subtitle mb-2 text-muted">undefined</h6>
        <h6 class="card-subtitle mb-2 text-muted">yes</h6>
    
        <a href="mailto: no" class="card-link"> Email: no</a>
       
      </div>
    </div>
    
    
    </body>
    </html>
    
        <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Dee</h5>
        <h6 class="card-subtitle mb-2 text-muted">undefined</h6>
        <h6 class="card-subtitle mb-2 text-muted">8</h6>
    
        <a href="mailto: dee@aol.com" class="card-link"> Email: dee@aol.com</a>
       
      </div>
    </div>
    
    

    
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">brian</h5>
        <h6 class="card-subtitle mb-2 text-muted">undefined</h6>
        <h6 class="card-subtitle mb-2 text-muted">4</h6>
    
        <a href="mailto: brainsldkfjd" class="card-link"> Email: brainsldkfjd</a>
       
      </div>
    </div>
    
    
    </body>
    </html>
    
        <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">heather</h5>
        <h6 class="card-subtitle mb-2 text-muted">undefined</h6>
        <h6 class="card-subtitle mb-2 text-muted">4</h6>
    
        <a href="mailto: sdlkjflkd" class="card-link"> Email: sdlkjflkd</a>
       
      </div>
    </div>
    
    
    </body>
    </html>
    
        <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">john</h5>
        <h6 class="card-subtitle mb-2 text-muted">undefined</h6>
        <h6 class="card-subtitle mb-2 text-muted">7</h6>
    
        <a href="mailto: hdkfljdf" class="card-link"> Email: hdkfljdf</a>
       
      </div>
    </div>
    
    
    </body>
    </html>
    
        <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">john</h5>
        <h6 class="card-subtitle mb-2 text-muted">undefined</h6>
        <h6 class="card-subtitle mb-2 text-muted">9</h6>
    
        <a href="mailto: skldjf" class="card-link"> Email: skldjf</a>
       
      </div>
    </div>
    
    
    </body>
    </html>
    